#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  color:lightsalmon;
  background-color: lavender;
}

header{
  padding: 5px;
  background-color: darkgreen;
  border-radius: 6px;
}

h1, h2{
  margin: 2rem;
  color: salmon;
  }

nav {
  margin-top: 10px;
}
nav a {
  margin: 15px;
  padding: 8px 14px;
  color: brown;
  background-color: beige;
  font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
} 
nav a:visited {    
  color: beige;
  background-color: olive;}  
nav a:hover {    
  color: beige;
  background-color: palevioletred;}

footer {
  padding: 15px;
  background-color: darkgreen;
  border-radius: 6px;
  margin-top: 3rem;
}

table {
  margin: 1.5rem auto;
  padding:1rem;
  width: 70%;
  border-color: gray;
  border-style: double;
  border-width: 6px;
  border-collapse: separate;
  background-color: blueviolet;
}
tr th {    
  padding: 8px 12px;
  border-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color:yellow;
  background-color: brown;
  color: cornsilk;
  min-width: 120px;
}
tr td {    
  padding: 10px;
  border-style: dashed;
  border-width: 1px;
  border-color: aquamarine;
}

form {
  display: flex;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif; 
}

input, select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid peru;
}

button {
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: royalblue;
  color: whitesmoke;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}